<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAJIRI - Trade stocks on the blockchain</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<link rel="stylesheet" href="/css/styles.css">
<style>
  
@layer library, reset, base, demo;
@import 'https://unpkg.com/open-props@2.0.0-beta.5' layer(library);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap');

@layer reset {

*,
::before,
::after {
box-sizing: border-box;
}

:where(:not(dialog)) {
margin: 0;
}
}

@layer base {
html {
--nav-block-size: 74px;
--brand-gradient: linear-gradient(227deg,
  #1400c7 0%,
  #00bbff 100%);

@media (prefers-reduced-motion: no-preference) {
scroll-behavior: smooth;
}
}

body {
font-family: 'Inter', sans-serif;
min-block-size: 100dvb;
}
}

@layer demo {


      /* SECTIONS */





      /* MOBILE MENU & ANIMATION */



      #mobile-menu.is-active .bar:nth-child(2){
      opacity: 0;
      }

      #mobile-menu.is-active .bar:nth-child(1){
      -webkit-transform: translateY(8px) rotate(45deg);
      -ms-transform: translateY(8px) rotate(45deg);
      -o-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
      }

      #mobile-menu.is-active .bar:nth-child(3){
      -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
      -o-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
      }

      /* KEYFRAME ANIMATIONS */

      @-webkit-keyframes gradbar {
          0% {
              background-position: 0% 50%
          }
          50% {
              background-position: 100% 50%
          }
          100% {
              background-position: 0% 50%
          }
      }

      @-moz-keyframes gradbar {
          0% {
              background-position: 0% 50%
          }
          50% {
              background-position: 100% 50%
          }
          100% {
              background-position: 0% 50%
          }
      }

      @keyframes gradbar {
          0% {
              background-position: 0% 50%
          }
          50% {
              background-position: 100% 50%
          }
          100% {
              background-position: 0% 50%
          }
      }

      /* Media Queries */

      /* Mobile Devices - Phones/Tablets */





.nav-cta-btn {
font-size: var(--font-size-1);
font-weight: var(--font-weight-7);
inline-size: max-content;
white-space: nowrap;
text-decoration: none;
padding-block: var(--size-3);
padding-inline: var(--size-7);
border: var(--border-size-2) solid transparent;
color: black;
position: relative;
isolation: isolate;

background: linear-gradient(white, white) padding-box,
var(--brand-gradient) border-box;
border-radius: var(--radius-6);
overflow: hidden;

&::before {
content: '';
display: block;
position: absolute;
inset: 0;

background: var(--brand-gradient);
mix-blend-mode: screen;
}

&:hover {
color: white;

&::before {
  background: var(--brand-gradient) padding-box,
    var(--brand-gradient) border-box;
  background-repeat: no-repeat;
  background-size: contain;
  mix-blend-mode: normal;
  z-index: -1;
}
}
}

.section {
--section-block-size: max(400px, 100dvb);
display: grid;
background-color: white;
min-block-size: var(--section-block-size);
position: relative;
block-size: 100%;
display: grid;

>* {
grid-area: 1/1;
}
}

.section-wrapper {
position: relative;
display: grid;

@media (width >=960px) {
grid-template-columns: 1fr 1fr;
}

@media (width < 960px) {
padding-block-start: calc(var(--nav-block-size) + var(--size-7));
padding-block-end: var(--size-7);
}
}

.video {
display: block;
inline-size: 100%;
block-size: 100%;
object-fit: cover;
position: relative;
z-index: -1;
}

.content-wrapper {
display: grid;

@media (width < 960px) {
gap: var(--size-7);
}
}

.meta {
display: grid;
gap: var(--size-3);
}

.content {
display: grid;
inline-size: 100%;
place-items: center;
padding-block: var(--size-7);
padding-inline: var(--size-5);

@media (width >=960px) {
padding: var(--size-10);
min-block-size: 100cqb;
place-items: center end;
}

@media (width < 960px) {
gap: var(--size-5);
}
}

.mobile-visual {
inline-size: 100%;
aspect-ratio: var(--ratio-square);

@media (width >=960px) {
display: none;
}
}

.headline {
font-size: var(--font-size-7);
font-weight: var(--font-weight-4);
max-inline-size: var(--size-content-1);
text-wrap: pretty;

@media (width < 960px) {
font-size: var(--font-size-6);
}
}

.desc {
font-size: var(--font-size-4);
line-height: 1.5;
max-inline-size: 40ch;
text-wrap: pretty;

@media (width < 960px) {
font-size: var(--font-size-3);
}
}

.visual {
display: grid;
position: sticky;
block-size: var(--section-block-size);
inset-block-start: 0;
container-type: size;

@media (width < 960px) {
display: none;
}
}

.video-visual {
inline-size: 100%;
block-size: var(--section-block-size);
display: block;
position: sticky;
inset-block-start: 0;
isolation: isolate;
filter: hue-rotate(210deg);
}

.card-wrapper {
container-type: size;
display: grid;
place-items: center;
overflow: clip;

>* {
grid-area: 1/1;
}
}

.card {
aspect-ratio: var(--ratio-square);
inline-size: 70cqi;
border-radius: var(--radius-3);
scale: 0.4;
}

.card-img {
display: block;
inline-size: 100%;
block-size: 100%;
object-fit: cover;
}

.card-1 {
scale: 1;
}

.card-2 {
translate: -35cqi 30cqb;
opacity: 0.3;
}

.card-3 {
translate: 0cqi 50cqb;
opacity: 0.5;
}

.card-4 {
translate: 45cqi 40cqb;
opacity: 0.5;
}

.content-1 {
--_text-gradient: linear-gradient(227deg,
  #1400c7 0%,
  #00bbff 100%);
}

.content-2 {
--_text-gradient: linear-gradient(227deg,
  #28dc28 0%,
  #00bbff 100%);
}

.content-3 {
--_text-gradient: linear-gradient(227deg,
  #1400c7 0%,
  #b800b1 100%);
}

.content-4 {
--_text-gradient: linear-gradient(227deg,
  #b800b1 0%,
  #f50000 100%);
}

.text-highlight {
background: var(--_text-gradient);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
}

@supports (animation-timeline: scroll()) {
body {
timeline-scope: --content-1, --content-2, --content-3, --content-4;
}

.section {
view-timeline-name: --section;
}

.content-1 {
view-timeline-name: --content-1;
}

.content-2 {
view-timeline-name: --content-2;
}

.content-3 {
view-timeline-name: --content-3;
}

.content-4 {
view-timeline-name: --content-4;
}

.card {
animation-timing-function: linear;
animation-fill-mode: forwards;
}

.card-1 {
animation-timeline: --content-1;
animation-name: slide-up-first-card;
}

.card-2 {
animation-timeline: --content-2;
animation-name: slide-up-card;
}

.card-3 {
animation-timeline: --content-3;
animation-name: slide-up-card;
}

.card-4 {
animation-timeline: --content-4;
animation-name: slide-up-card;
}

.video-visual {
animation-timeline: --section;
animation-range-end: exit 110%;
animation-name: update-hue;
animation-timing-function: step-end;
animation-fill-mode: forwards;
}

@keyframes update-hue {
0% {
filter: hue-rotate(210deg);
}

25% {
filter: hue-rotate(150deg);
}

45% {
filter: hue-rotate(300deg);
}

60% {
filter: hue-rotate(4deg);
}
}

@keyframes slide-up-first-card {
50% {
translate: 0;
opacity: 1;
}

90% {
translate: 0 -50cqi;
scale: 0.6;
}

100% {
translate: 0 -100cqi;
opacity: 0;
}
}

@keyframes slide-up-card {
50% {
opacity: 1;
translate: 0;
scale: 1;
}

90% {
opacity: 0.5;
scale: 0.6;
translate: 0 -50cqb;
}

100% {
translate: 0 -100cqi;
opacity: 0;
}
}
}

</style>
</head>
<body>
  <div class="nav-wrapper" style="z-index: 10;">
    <nav class="navbar" style="z-index: 11;">
      <img src="/img/logos/logo-no-background.png" alt="Company Logo">
      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="nav no-search" style="z-index: 12;">
        <li class="nav-item"><button class="nav-cta-btn" id="connectButton" style="margin-left: 30px;">Connect Wallet</button></li>
        <li class="nav-item"><button class="nav-cta-btn" id="disconnectButton" style="display: none; margin-left: 30px;"></button></li>
        <li class="nav-item"><a href="/trade/p2p"><button class="nav-cta-btn"  style="margin-left: 30px;">P2P market</button></a></li>
        <li class="nav-item"><a href="/trade/p2p"><button class="nav-cta-btn"  style="margin-left: 30px;">Mint / Redeem</button></a></li>

        <li><a href="/trade"><button class="nav-cta-btn" style="margin-left: 30px;">How to trade</button></a></li>
        <div id="walletAddress" style="display: none;"></div>

      </ul>
    </nav>
  </div>

  
  <div class="section">
    <div class="video-visual">
      <video
        class="video"
        autoplay
        loop
        muted
        poster=""
        role="none"
        aria-label="background gradient animation"
      >
        <source
          src="https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/dynamic-content-lockups-v2/assets/bg-gradient-animation.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="section-wrapper">
      <div class="content-wrapper">
        <div class="content content-1">
          <div class="mobile-visual">
            <img
              class="card-img"
              src="/img/home/chain4.svg"
            />
          </div>
          <div class="meta">
            <h2 class="headline">
              Trade Kenyan<span class="text-highlight"> stocks on base</span>
            </h2>
            <p class="desc">
              Get ready to connect your self custodial wallet and trade our tokenized stocks from Nairobi Securities Exchange (NSE).
            </p>
          </div>
        </div>
        <div class="content content-2">
          <div class="mobile-visual">

            <img
            class="card-img"
            src="/img/home/man-phone.svg"
            />
          </div>
          <div class="meta">
            <h2 class="headline">
              Buy the best performing 
              <span class="text-highlight">shares and stocks</span>
            </h2>
            <p class="desc">
              Safaricom, Britam, EABL, KCB, Kakuzi, KPLC, Total Energy, KenGen shares and stocks are all available for trading
            </p>
          </div>
        </div>
        <div class="content content-3">
          <div class="mobile-visual">
            <img
            class="card-img"
            src="/img/home/two-happpy.svg"
            />
          </div>
          <div class="meta">
            <h2 class="headline">
              Sell at
              <span class="text-highlight">your own convenience</span>
            </h2>
            <p class="desc">
              Tajiri boasts a peer to peer online market place that is available 24/7 for investors and traders. You can quickly sell your stocks to another person and receive payments in USDC.
            </p>
          </div>
        </div>
        <div class="content content-4">
          <div class="mobile-visual">
            <img
            class="card-img"
            src="/img/home/mama-mboga.jpg"
            />
          </div>
          <div class="meta">
            <h2 class="headline">
              Make investing <span class="text-highlight">available for everyone</span>
            </h2>
            <p class="desc">
              In a bid to increase the standards of living in Africa and around the world. We want to make it easier for all individuals to be able to invest their income in financial instruments that give high returns.
            </p>
          </div>
        </div>
      </div>
      <div class="visual">
        <div class="card-wrapper">
          <div class="card card-1">
            <!-- <img
              class="card-img"
              src="/img/home/strong-1.webp"
            /> -->
            <img src="/img/home/chain4.svg" class="card-img" alt="">
          </div>
          <div class="card card-2">
            <img
            class="card-img"
            src="/img/home/man-phone.svg"
            />
          </div>
          <div class="card card-3">
            <img
            class="card-img"
            src="/img/home/two-happpy.svg"
            />
          </div>
          <div class="card card-4">
            <img
            class="card-img"
            src="/img/home/mama-mboga.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <script type="text/javascript">
    const connectButton = document.getElementById('connectButton');
    const disconnectButton = document.getElementById('disconnectButton');
    const p2pMarket = document.getElementById('p2pMarket')
    const walletAddressDisplay = document.getElementById('walletAddress');
  
    // Function to format the wallet address
    function formatWalletAddress(address) {
      const firstPart = address.slice(0, 5); // First 5 characters
      const lastPart = address.slice(-3); // Last 3 characters
      return `${firstPart}...${lastPart}`;
    }
  
    // Load saved wallet address on page load
    function loadWalletAddress() {
      const savedAddress = localStorage.getItem('walletAddress');
      if (savedAddress) {
        walletAddressDisplay.innerHTML = `Connected: ${savedAddress}`;
        disconnectButton.innerHTML = `My account ${formatWalletAddress(savedAddress)}`;
        connectButton.style.display = 'none'; // Hide the connect button

        disconnectButton.style.display = 'inline-block'; // Show the disconnect button
        p2pMarket.style.display = 'inline-block';

      }
    }
  
    loadWalletAddress(); // Call the function when the page loads
  
    // Connect button click event
    connectButton.addEventListener('click', async () => {
      if (window.ethereum) {
        try {
          const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
          const walletAddress = accounts[0];
          localStorage.setItem('walletAddress', walletAddress);
  
          walletAddressDisplay.innerHTML = `Connected: ${walletAddress}`;
          disconnectButton.innerHTML = `My account ${formatWalletAddress(walletAddress)}`;
  
          connectButton.style.display = 'none'; // Hide the connect button
          
          disconnectButton.style.display = 'inline-block'; // Show the disconnect button
          p2pMarket.style.display = 'inline-block';

        } catch (error) {
          console.error('Error connecting to MetaMask:', error);
        }
      } else {
        alert('Web3 wallet is not installed. Please install any web3 wallet to use this Tajiri.');
      }
    });
  
    // Disconnect button click event
    disconnectButton.addEventListener('click', () => {
      // Clear wallet address from localStorage and hide disconnect button
      localStorage.removeItem('walletAddress');
      walletAddressDisplay.innerHTML = '';
      
      disconnectButton.style.display = 'none'; // Hide the disconnect button
      p2pMarket.style.display = 'none';


      connectButton.style.display = 'inline-block'; // Show the connect button
      
      alert('You are now disconnected. Please also disconnect from your wallet manually.');
    });
  </script>
  
         <script>
            $("#search-icon").click(function() {
                $(".nav").toggleClass("search");
                $(".nav").toggleClass("no-search");
                $(".search-input").toggleClass("search-active");
                });

                $('.menu-toggle').click(function(){
                $(".nav").toggleClass("mobile-nav");
                $(this).toggleClass("is-active");
                });

       </script>
</body>
</html>